@import "_variables.scss";

.menuWrapper {
	background-color: black;
	height: 500px;

	ul {
		color: white;
	}

	li {
		border: solid 5px white;
		width: 400px;
		height: 400px;
		font-size: 3rem;
		cursor: pointer;

		&:first-child {
			margin-right: 20px;
		}

		&:last-child {
			margin-left: 20px;
		}

		&:hover {
			border-color: $purple;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 0.7;
		}

		a {
			position: absolute;
			color: white;
			text-decoration: none;
			font-weight: bold;
		}
	}
}